.main {
  display: flex;
  margin-top: 2rem;
}

.head-style {
  color: #f34324;
  font-size: 22px !important;
  padding-top: 0.9rem;
  margin-left: -2.3rem;
}

.image {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.btn-primary {
  color: white !important;
  background-color: white !important;
  border-color: white !important;
}

.row {
  margin-top: 1rem;
}

button:focus {
  outline: none !important;
}
.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none !important;
}
.dropdown-menu {
  min-width: 2rem !important;
  margin-right: 2rem !important;
  margin-top: -8px !important;
  width: 5.7rem !important;
  padding-right: 1rem !important;
}
.dropdown-item {
  padding: 0.15rem 1.2rem !important;
}
.name {
  padding-right: 1.2rem;
  color: #100b09;
}
.email {
  padding-top: 1.6rem;
  width: 14.5rem;
}
