.button {
  text-align: center;
  padding: 1.3rem !important;
  background-color: #dc4141 !important;
  color: white !important;
  font-size: 1.2rem !important;
  border-radius: 0.7rem !important;
  margin-top: 2rem;
}
.h2-style {
  color: #dc4141;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.3rem;
}
.login-container {
  margin-top: 14.4rem;
  text-align: center;
}
.card {
  width: 30rem;
  height: 26rem;
  border-radius: 15px !important;

  box-shadow: 15px 15px 19px 5px #888888 !important;
  clear: both;
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.text-style {
  text-align: justify;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
.egAkyc {
  margin: 0px !important;
  width: 100%;
}
